﻿@model MyWebsite.Models.User
@{
    ViewBag.Title = "Login";
}



@using Microsoft.AspNetCore.Http;


@if (Context.Session.GetString("UserName") != null)
{
    <h2>@Context.Session.GetString("UserName").ToString() is now logged in.</h2>
}
else
{
    <h2>You are not logged in.</h2>
}
