﻿@model MyWebsite.Models.SpaceObject

@{
    ViewData["Title"] = "Create";
}

@using Microsoft.AspNetCore.Http;


@if (Context.Session.GetString("UserName") != null)
{
    <h2>@Context.Session.GetString("UserName") is now logged in.</h2>
    <h1>Create</h1>

    <h4>SpaceObject</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Messier" class="control-label"></label>
                    <input asp-for="Messier" class="form-control" />
                    <span asp-validation-for="Messier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Common" class="control-label"></label>
                    <input asp-for="Common" class="form-control" />
                    <span asp-validation-for="Common" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Con" class="control-label"></label>
                    <input asp-for="Con" class="form-control" />
                    <span asp-validation-for="Con" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mag" class="control-label"></label>
                    <input asp-for="Mag" class="form-control" />
                    <span asp-validation-for="Mag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RA" class="control-label"></label>
                    <input asp-for="RA" class="form-control" />
                    <span asp-validation-for="RA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DEC" class="control-label"></label>
                    <input asp-for="DEC" class="form-control" />
                    <span asp-validation-for="DEC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


}
else
{
    <h2>You are not logged in.</h2>
}