﻿@model MyWebsite.Models.SpaceObject

@{
    ViewData["Title"] = "Delete";
}

@using Microsoft.AspNetCore.Http;


@if (Context.Session.GetString("UserName") != null)
{
    <h2>@Context.Session.GetString("UserName") is now logged in.</h2>
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SpaceObject</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Messier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Messier)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Common)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Common)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Con)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Con)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mag)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DEC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DEC)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>

}
else
{
    <h2>You are not logged in.</h2>
}
