﻿@model MyWebsite.Models.SpaceObject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpaceObject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Common)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Common)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DEC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DEC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
