﻿@model MyWebsite.Models.ObjectViewModel

@{
    ViewData["Title"] = "Space Objects Database";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="SpaceObjects" asp-action="Index" method="get">
    <p>
        <select asp-for="SpaceObjectCon" asp-items="Model.Con">
            <option value="">All</option>
        </select>
        <select asp-for="SpaceObjectType" asp-items="Model.Type">
            <option value="">All</option>
        </select>
        Messier Value: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].Messier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].Common)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].Con)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].Mag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaceObjects[0].DEC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SpaceObjects)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Messier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Common)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Con)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
